#e-commerce{
    // padding: 100px 0;
    .title h1{
        color: $textColor;
    }

    .text-area{
        padding-left: 30px;
        
        h4{
            color: $textColor;
        }
        p{
            color: $paragraphColor;
        }
        span{
            color: $linkColor;
        }
    }
}