#footer-top{
    background: #7854F7;
    padding: 50px;

    .light-logo{
        margin-top: 30%;
        margin-bottom: 10%;
    }

    hr{
        width: 100%;
        color: #9b80fa;
        margin-bottom: 5%;
    }

    .footer-list{
        list-style: none;
        padding: 0;
        margin: 0;

        h5{
            text-transform: uppercase;
        }

        .footer-list-item{
            color: white;
            cursor: pointer;
            margin: 2px 0;
        }
    }
}


#footer-bottom{
    padding: 30px 0;

    .title p{
        color: $textColor;
        font-size: 12px;
        margin-top: 1.5%;
    }
}


@media (max-width: 767px){
    #footer-bottom{
        display: none;
    }

    #footer-top{
        .footer-list{
            h5{
                margin-top: 10%;
                margin-bottom: 0;
            }
        }
    }
}